version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: annual_erp_mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: annual_erp_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin ping -padmin"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:
    name: annual_erp_mysql_data
